body {
	background-color: #e4e4e4;
	text-align: center;
	font-family: Arial;
	max-width: 400px;
	margin: 80px auto;
	line-height: 1.6em;
}

h1 {
}

p {
}
code {
	opacity: 0.4;
	font-weight: normal;
}

img {
	max-width: 200px;
}